@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

body,ul,li,p {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    border: none;
}

header {
    background-color: #140f23;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

header > ul {
    display: flex;
    height: 80px;
}

header > ul > li {
    list-style: none;
    flex-grow: 1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: transform 600ms;
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
    cursor: pointer;
}

header > ul > li:hover > a {
    color: white;
    transform: scale(1.1);
}

header > ul > li > a.active {
    font-weight: bold;
    transform: none;
    pointer-events: none;
    cursor: auto;
}

main {
    flex-grow: 1;
}

section {
    display: none;
    opacity: 0;
    transition: opacity linear 400ms;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section.active {
    display: flex;
}

section.active.visible {
    opacity: 1;
}

#from-config-dir p, label {
    text-align: center;
    font-size: 20px;
}

#secret {
    display: block;
    margin: 10px auto 0;
    width: 400px;
    height: 20px;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px 6px;
    border: none;
    outline: none;
    text-align: center;
}

#from-config-dir {
    flex-direction: column;
}

#files {
    list-style: none;
    width: 80%;
    max-height: 250px;
    min-height: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid grey;
    background: white;
    margin: 20px 0 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
}

#files > .mCSB_scrollTools {
    margin: 5px 0;
}

#files li {
    padding: 3px 0;
    cursor: pointer;
    user-select: none;
}

#files li:hover {
    background: lightblue;
}

#files li.active-file {
    background: lightskyblue;
    pointer-events: none;
}

#from-file {
    border: 4px solid transparent;
    transition: border 200ms ease,
                opacity linear 400ms;
    color: black;
    font-size: 32px;
}

#from-file.file-over {
    border: 4px solid #140f23;
    background: #c2ceef;
}

#otp {
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    margin: 20px auto 15px;
    color: mediumvioletred;
    border: 2px solid #000000b8;
    border-radius: 30px;
    width: 190px;
    user-select: none;
    transition: 300ms;
}

#otp.copied {
    animation-duration: 500ms;
    animation-name: copy-effect;
    animation-iteration-count: 1;
}

@keyframes copy-effect {
    from {
        background: transparent;
    }

    33% {
        background: #9cb4d5;
    }

    to {
        background: transparent;
    }
}

#err {
    color: red;
    text-align: center;
    font-size: 26px;
}

#err p {
    display: none;
}

#progress {
    height: 16px;
    border: 1px solid;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto 20px;
}

#progress > div {
    background: red;
    width: 0;
    height: 100%;
    border-radius: 5px;
    transition: width 500ms;
}

footer {
    background: #140f23;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 8px 0;
    -webkit-app-region: drag;
}

footer a {
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
}

footer a:hover {
    color: lightskyblue;
}